* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  font-family: "Istok Web", sans-serif;
  background-color: #181c26;
}

/* Nav Bar Styles */
.container-nav-bar-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px;
  background: transparent;
  transition: background 0.3s ease;
}

.container-nav-bar-fixed.blurred {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(50px);
}

.title-nav-bar {
  color: #f5c760;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: -1px;
  transition: all 0.5s ease-in-out;
}

.container-links-nav-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link-nav-bar {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.link-nav-bar:hover {
  transform: scale(1.1);
  color: #f5c760;
}

.container-language-nav-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.language-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 14px;
}

.language-button:hover {
  transform: scale(1.1);
  color: #f5c760;
}

/* CSS para o banner home */
.main-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 24px;
}

.container-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.articles-info-banner {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #fff;
  width: 70%;
}
.articles-info-banner h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.articles-info-banner div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.articles-info-banner h5 {
  color: #f5c760;
}

.text-banner-golden {
  color: #f5c760;
}

.span-line {
  width: 28px;
  height: 2px;
  background-color: #f5c760;
}

.articles-button {
  width: 175px;
  height: 37px;
  background-color: #f5c760;
  color: black;
  font-weight: bold;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.articles-links-banner {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: start;
  margin-top: 20%;
  padding-left: 100px;
}

.articles-links-banner a {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.articles-links-banner a:hover {
  color: #f5c760;
}

.image-banner {
  width: 25rem;
}

.section-scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-bottom: 8%;
  height: 100vh;
}

.section-scroll-down h3 {
  transform: rotate(90deg);
  font-size: small;
  font-weight: 400;
  color: #f5c760;
}

.arrow-banner {
  transform: rotate(0deg);
  width: 10px;
}

/* CSS main About */
.container-main-about {
  display: flex;
  flex-direction: column;
  background-color: #14171E;
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
}

.container-header-about {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 4rem;
  padding-top: 3%;
  padding-left: 24%;

}

.image-about {
  width: 18rem;
}

.title-about {
  display: flex;
  align-items: center;
  gap: 1rem;

  & h1 {
    font-size: 30px;
    color: #f5c760;
  }
}

.container-infos-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  width: 50%;

  & p {
    color: #fff;
    font-weight: 400;
  }
}


.section-skill-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
}
.section-skill-down h3 {
  transform: rotate(-90deg);
  font-size: 30px;
  font-weight: bold;
  color: #f5c760;
}

.span-line-skill {
  width: 3px;
  height: 80px;
  background-color: #f5c760;
}

.container-skills {
  display: flex;
  margin-top: 6rem;
  justify-content: space-evenly;
  gap: 4rem;
  margin-left: 10rem;
}


.container-list-skills {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 80px;

  & h3 {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
  }
  & div {
    width: 40%;
  }
}

progress {
  width: 100%;
  height: 4px;
  background-color: black; /* Cor de fundo preta */
}

progress::-webkit-progress-value {
  background-color: #F5C760; /* Cor do progresso */
}

progress::-webkit-progress-bar {
  background-color: black; /* Cor de fundo preta da barra não preenchida */
}

progress::-moz-progress-bar {
  background-color: #F5C760; /* Cor do progresso no Firefox */
}
